In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(
    "../data/raw/stores_sales_forecasting.csv",
    encoding="latin1"
)

df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
3,6,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
4,11,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables,1706.1840,9,0.20,85.3092

## Standardize Column Names

In [3]:
df.columns = (
    df.columns
      .str.strip()
      .str.lower()
      .str.replace(" ", "_")
)

df.columns

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'product_id', 'category', 'sub-category',
       'product_name', 'sales', 'quantity', 'discount', 'profit'],
      dtype='object')

In [4]:
df.columns = df.columns.str.replace("-", "_")
df.columns

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'product_id', 'category', 'sub_category',
       'product_name', 'sales', 'quantity', 'discount', 'profit'],
      dtype='object')

In [5]:
df["order_date"] = pd.to_datetime(df["order_date"])
df["ship_date"] = pd.to_datetime(df["ship_date"])

In [6]:
df[["order_date", "ship_date"]].head()

  order_date  ship_date
0 2016-11-08 2016-11-11
1 2016-11-08 2016-11-11
2 2015-10-11 2015-10-18
3 2014-06-09 2014-06-14
4 2014-06-09 2014-06-14

In [7]:
columns_to_drop = [
    "row_id",
    "order_id",
    "customer_id",
    "customer_name",
    "postal_code",
    "product_id",
    "product_name"
]

df = df.drop(columns=columns_to_drop)
df.head()

,order_date,ship_date,ship_mode,segment,country,city,state,region,category,sub_category,sales,quantity,discount,profit
0,2016-11-08,2016-11-11,Second Class,Consumer,United States,Henderson,Kentucky,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,2016-11-08,2016-11-11,Second Class,Consumer,United States,Henderson,Kentucky,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,2015-10-11,2015-10-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,South,Furniture,Tables,957.5775,5,0.45,-383.0310
3,2014-06-09,2014-06-14,Standard Class,Consumer,United States,Los Angeles,California,West,Furniture,Furnishings,48.8600,7,0.00,14.1694
4,2014-06-09,2014-06-14,Standard Class,Consumer,United States,Los Angeles,California,West,Furniture,Tables,1706.1840,9,0.20,85.3092

In [8]:
df = df.sort_values("order_date")
df.reset_index(drop=True, inplace=True)

In [9]:
df.isnull().sum()

order_date      0
ship_date       0
ship_mode       0
segment         0
country         0
city            0
state           0
region          0
category        0
sub_category    0
sales           0
quantity        0
discount        0
profit          0
dtype: int64

In [10]:
df.dtypes

order_date      datetime64[ns]
ship_date       datetime64[ns]
ship_mode               object
segment                 object
country                 object
city                    object
state                   object
region                  object
category                object
sub_category            object
sales                  float64
quantity                 int64
discount               float64
profit                 float64
dtype: object

In [11]:
df.to_csv(
    "../data/cleaned/cleaned_sales_data.csv",
    index=False
)

In [12]:
pd.read_csv("../data/cleaned/cleaned_sales_data.csv").head()

,order_date,ship_date,ship_mode,segment,country,city,state,region,category,sub_category,sales,quantity,discount,profit
0,2014-01-06,2014-01-10,Standard Class,Home Office,United States,Henderson,Kentucky,South,Furniture,Chairs,2573.820,9,0.0,746.4078
1,2014-01-07,2014-01-12,Standard Class,Consumer,United States,Huntsville,Texas,Central,Furniture,Furnishings,76.728,3,0.6,-53.7096
2,2014-01-10,2014-01-15,Standard Class,Corporate,United States,Springfield,Virginia,South,Furniture,Furnishings,51.940,1,0.0,21.2954
3,2014-01-11,2014-01-14,First Class,Consumer,United States,Dover,Delaware,East,Furniture,Furnishings,9.940,2,0.0,3.0814
4,2014-01-13,2014-01-16,Second Class,Consumer,United States,Mount Pleasant,South Carolina,South,Furniture,Chairs,545.940,6,0.0,87.3504

## Data Cleaning Summary

Column names standardized

Date fields converted to datetime

Irrelevant identifiers removed

Dataset sorted for time-series analysis

Cleaned dataset saved for downstream analysis